{% extends "base.html" %} 

{% block title %}Insert Course{% endblock %} 

{% block content %}
<div class="tall d-flex align-items-center justify-content-center py-4">
	<main class="form-signin">
		<form
			action="{{ url_for('insert_course') }}"
			method="post"
			class="w-100 max-width-400"
		>
			<h1 class="h3 mb-3 fw-normal text-center">Insert Course</h1>

			<div class="form-floating my-2">
				<input
					type="text"
					name="course_name"
					class="form-control custom-input"
					id="floatingCourseName"
					required
				/>
				<label for="floatingCourseName">Course Name</label>
			</div>
			<div class="form-floating my-2">
				<input
					type="text"
					name="instructor"
					class="form-control custom-input"
					id="floatingInstructor"
					required
				/>
				<label for="floatingInstructor">Instructor</label>
			</div>
			<div class="form-floating my-2">
				<input
					type="text"
					name="time"
					class="form-control custom-input"
					id="floatingTime"
					required
				/>
				<label for="floatingTime">Time</label>
			</div>

			<button class="btn btn-primary w-100 py-1" type="submit">
				Add Course
			</button>

			{% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash-text">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
		</form>
	</main>
</div>
{% endblock %}
